@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&family=Ubuntu:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    max-width: 70ch;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(2rem, 1.375rem + 3.125vw, 4.5rem);
}

p,
button,
code,
span,
a {
    font-family: 'Ubuntu', sans-serif;
    font-size: clamp(1.25rem, 0.9063rem + 1.7188vw, 2.625rem);
}